/* 21861091 이승민 */
html,body{
    width: 100%;
    height: 100vh;
    background-color: rgb(19, 19, 19);color: #ffffff;  font-size: 14px;
    /* overflow:hidden; */
    font-family:"Noto Sans CJK KR";
  
}
.clear{
    clear: both;
}
a{color: inherit;
}
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    transition:all 2s;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    -ms-transition:all 2s;
    -o-transition:all 2s;
}
header nav ul{
    width: 100%;
    height: 30px;
   
    position: relative;
    
}
header nav li{
    position: absolute;
}
header nav li:nth-child(2){
    left: 47.5%;
    font-size: 10px;
}
header nav li:nth-child(3){
    right: 0;
}

header.white { color:black; }
#footer-nav.white { color:black; }
header nav{
    padding-top: 50px;
      width:90.104%;
      margin: auto;
     
    
}

header nav h1{
    font-size: 20px;
    font-weight: 600;
}
header #menu{
    
    height: 27vh;
    position: relative;
    font-size: 10px;
    z-index: -99;
    
}
header #menu ul{
    position: absolute;
    top: 35%;
    left: 5%;

}
header #menu ul a{
  text-decoration: none;

}
header #menu li{
    margin-top: 25px;
}
#color{
    color: #fa8c51;
}
.hov:hover{
    color: #fa8c51;
    
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#hide a{text-decoration: none;}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
#footer-nav{
  margin: auto;
  width:90.104%;
  justify-content: center;
  padding-bottom: 50px;
  transition:all 0.5s ;

}
#footer-in{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#footer-in p{
    font-size: 10px;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 120px;
    
}
footer ul li{
    text-align: center;
    
}
#footer-in p{
    align-self:flex-end;
    
}
main{
    width: 100%;
    height: 100vh;
   
    /* transform:translateY(-200vh);
    -webkit-transform:translateY(-200vh);
    -moz-transform:translateY(-200vh);
    -ms-transform:translateY(-200vh);
    -o-transform:translateY(-200vh); */
}
main section{
    width: 100%;
    /* height:100vh; */
    display:flex;
    justify-content:center;
    
}



.main-text{
    text-align: center;
    position:absolute;
    line-height: 30px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}

.main-text{
    
}
#video-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    
}
#video-wrap video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 30%;
}
.text-wrap{
    margin-top: 50px;
    position: relative;
    font-size: 50px !important;
    font-weight: 700;
}
.text-wrap2{
    margin-top: 30px;
    position: relative;
    font-size: 30px !important;
    font-weight: 700;
}

.arrow{
    position: absolute;
  right: -100px;
    top: -66px;
    
}
#section-text{
    
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}
#section-text2{
    
    font-size: 55px;
    font-weight: 700;
    line-height: 1px;
}


.text-wrap .arrow{
    animation:ani 1s infinite alternate;
    -webkit-animation:ani 1s infinite alternate;
}
#sec2{
    background-color: #ffffff;
}
.port{font-size: 50px ;
font-weight: bold;}
.port2{font-size: 30px ;
font-weight: bold;}
@keyframes ani {
    0%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

@keyframes ani2{
    0%{
        transform: opacity(0);
        -webkit-transform: opacity(0);
        -moz-transform: opacity(0);
        -ms-transform: opacity(0);
        -o-transform: opacity(0);
}
    100%{
        transform: opacity(100);
        -webkit-transform: opacity(100);
        -moz-transform: opacity(100);
        -ms-transform: opacity(100);
        -o-transform: opacity(100);
}
}

#sec2{
    color: #000;
}
.popup{
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgb(0, 0, 0, 0.7);
   z-index:10000;
}
.popup .introduce{
    position:relative;
    width: 70%;
    margin:0 auto;
    background-color: #131313;
    padding:100px 40px;
    margin-top: 30px;
   
}
/* .popup .introduce .scroll */
.popup .pop-back { width:100%; height:100vh; position:absolute; top:0; left:0; }
.popup .introduce img{
    width: 100%;
}

#main-contents{
    width: 86%;
    margin-left: 10%;
    margin-top: 190px;
    padding-bottom: 200px;
    
}
#main-contents-wrap{
    margin: auto;
    width: 90%;
    position: relative;
    z-index: 9999;
 
}
.contents-img{
    position: relative;
    display: inline-block;
    margin-right: 6% ;
    margin-top: 10%;
    width: 42%;
}
.contents-img video{width: 100%;}

.contents-img iframe{
   
}

.contents-img:hover{
   
}
.contents-img img{
    
    width: 100%;
}
.img-hover{
    left: 1%;
    top: 2%;
    width: 100%;
    height: 20.4vw;
    background-color: #000;
    position: absolute;
    opacity: 0;
  text-align: center;
}
.text-wrap1{
    height: 30px;
    margin-top: 22.5%;
    font-size: 20px;
    font-weight: bold;
    line-height: 37px;
}
.img-hover:hover{
    opacity: 80%;
    transition: 0.8s;

}
.img-wrap{
    width: 100%;
    height: 20.5vw;
    background-color: #FFF;
    overflow: hidden;
    border: 5px solid #fff;
}
.text-b{
    
    margin-top: 20px;
}
#bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: px;

}
#bg img{
    width: 100%;
    opacity: 30%;
}
#side_menu{
    right: 0;
    position: fixed;
    z-index: 999999;
    display: none;
}


#menu_bt{
    
   
    width: 63px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
#menu_bt:hover{
    width: 200px;
    height: 980px;
    transition: 1s;
    /* background-color: rgba(255,255,255,1) */
    /* background-color: #fa8c51;; */
    background-color: #000000;
}
#menu_bt:hover > #sidebar{
    display: block}

    #menu_img{
        width: 30px;
        margin-top: 10px;
        margin-left: 10px;
        padding-top: 100px;
    }        
    #sidebar{
        margin-top: 10px;
        font-family: ;
        position: absolute;
        display: none;
    }
        
    #sidebar li{
            
        text-align: center;
        width: 200px;
        height: 50px;
        line-height: 50px;;
        
    }
    #pad{
        padding-top: 50px;
        line-height: 50px;
    }
    .sid2{
        height: 50px;
        padding-left: 13px;
       
        
    }
    .sid2 a{
        text-decoration: none;
    }
    .sid2:hover{
        background-color: #FFF;
    }
   
    #sidebar li:hover{
        background-color: #f05f40;;
        transition: 0.8s;
        color: #fff
    }
  
    #meimg img{width: 100%;
    opacity: 0.2;}
    #abt{
        margin-top: 7%;
        font-size: 40pt;
        line-height: 80px;
    
       
    }
    #abt p a{
        text-decoration: none;
    }
    #abt2{
       
        display: inline-block;
        line-height: 40px;
        width: 30%;
        padding-top: 5vw;
        margin-bottom: ;
    
    }
    
    #abt3{
        display: inline-block;
        margin-right: 10% ;
        width: 40%;
    }
    #abt3 img{
        width: 100%
    }
    #abc1{
        width: 100%;
        height: 43vw;
     
        margin-top: 30%;
    }
    #fiv{
        height: auto;
        width: 50%;
    
        margin: auto;
        margin-top: 25%;
    }
    #fiv img{
        width:100%;
       
    }

    .contents-img2{
        width: 100%;
        background-color: #fff;
        margin-top: 5%;
    }
    .contents-img2 img{
        width: 100%;
    }

    .slide{height:300px;overflow:hidden;position:relative; margin-top: 30%; text-align: center;}
    .slide ul{width:calc(100% * 4);display:flex;transition:1s;}
    .slide li{width:calc(100% / 4);height:300px;vertical-align: middle;}
    .small{
        font-size: 20pt;
    }
    .big{
        font-size: 30pt;
        margin-top: 50px;
    }
    .slide li p{
        
        line-height: 65px;
    }
    .slide li:nth-child(1){background:}
    .slide li:nth-child(2){background:}
    .slide li:nth-child(3){background:}
    .slide li:nth-child(4){background:}
    .slide input{display:none;}
    .slide .bullet{position:absolute;bottom:20px;left:0;right:0;text-align:center;z-index:10;}
    .slide .bullet label{width:10px;height:10px;border-radius:10px;border:2px solid #fff;display:inline-block;background:#fff;font-size:0;transition:0.5s;cursor:pointer;
    margin: 10px;}
    /* 슬라이드 조작 */
    #pos1:checked ~ ul{margin-left:0;}
    #pos2:checked ~ ul{margin-left:-100%;}
    #pos3:checked ~ ul{margin-left:-200%;}
    #pos4:checked ~ ul{margin-left:-300%;}
    /* bullet 조작 */
    #pos1:checked ~ .bullet label:nth-child(1),
    #pos2:checked ~ .bullet label:nth-child(2),
    #pos3:checked ~ .bullet label:nth-child(3),
    #pos4:checked ~ .bullet label:nth-child(4){background:#f05f40;}

    

   @media ( max-width: 960px ) {
        body {
          width: auto;
        }
       #menu{display: none;}
       
       .main-text h1{
           font-size: 20px
       }
       .port{
           font-size: 15px;
       }
       .ptext{
           font-size: 15px;
          
       }
       .ptext2{
           font-size: 15px;
         
       }
       #side_menu{display: block;
       
    }
    .text-wrap1{
        margin-top: 20%;
        font-size: 15px;
        line-height: 25px;
    }
    
    .contents-img{
        width: 100%;
    }
    .img-wrap{
        height: 47.5vw;
    }
    .img-hover{
        height: 47.5vw;
    }
    .text-wrap1{
        margin-top: 25%;
    }
    #section-text2{
        font-size: 40px;
    }
    #abc1{
        margin-top: 60%;
    }
    #fiv{
        margin-top: 120vw;
        width: 100%;
    }
    #abt p{
        font-size: 30pt;
        margin-bottom: 10pt;
    }
    #abt3{
        width: 90%;
    }
    .slide{
        margin-top: 60%;
    }
    .slide .bullet label{
        margin: 5px;
    }
    .big{
        font-size: 19pt;
    }
    .small{
        font-size: 13pt;
    }
    .slide li p{
        line-height: 45px;
    }
    #abt2{
        display: block;
        width: 50%;
    }
    .text-wrap{
        margin-top: 10px;
    }
}